{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'blog/articles.css' %}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>{{ articles.title }}</title>
  </head>
  <body>
    <nav class="z-depth-0">
      <div class="nav-wrapperc container">
        <a href="{% url 'blog:blog-home'%}" class="brand-logo lora">Demystifying Energy</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'blog:blog-about'%}">About</a></li>
          <li><a href="#">Admin</a></li>
        </ul>
      </div>
    </nav>
    <div class="article-container container">
      <div class="row">
        <div class="col s9">
          <article class="content-section">
            <div class="article-metadata">
              <h1>{{articles.title}}</h1>
              <h6>By <a class="mr-2" href="#">{{articles.author}}</a>
                <small class="text-muted">{{articles.datePosted}}</small>
                Category: <a class ="mr-2" href="{{articles.category.get_absolute_url}}"> {{ articles.category }}</a>
              </h6>
            </div>
            <p>{{articles.content | safe}}</p>
          </article>
          <div class="content-section">
            <div class="card-body">
              <!-- comments -->
              <h4>{{ comments.count }} Comment(s)</h4>
              {% for comment in comments %}
                <div class="comments">
                  <h6><span class="name">{{ comment.name }}</span>
                    <small class="text-muted">{{ comment.created_on }}</small></h6>
                  {{ comment.body | linebreaks }}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="content-section">
            <div class="card-body">
              {% if new_comment %}
              <div class="alert alert-success" role="alert">
                Your comment is awaiting moderation
              </div>
              {% else %}
              <h4>Leave a comment</h4>
              <form method="post" style="margin-top: 1.3em;">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col s3">
          <h5>Related Articles</h5>
          <div class="content-section">
          </div>
        </div>
      </div>
    </div>


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>

