{% extends "blog/base.html" %}
{% block content %}
<div class="container" style="padding-top:20vh">
  <h1 class="display-4 lora" id="jumbotron-title">{{category.name}}</h1>
</div>

<main role="main" class="container content">
<div class="row">
    <div class="col s8">
      {% for article in articles %}
        {% if article.status%}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ article.author }}</a>
                <small class="text-muted">{{ article.datePosted }}</small>
                <a class="mr-2" href="{{article.category.get_absolute_url}}">{{article.category}}</a>
              </div>
              <h2><a class="article-title" href="{% url 'blog:link' slug=article.slug %}">{{ article.title }}</a></h2>
              <p class="article-content">{{ article.summary}}</p>
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </div>

{% endblock content %}

