.article-metadata {
  padding-bottom: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}
.content-section {
  background: #ffffff;
  padding: 5px 20px 5px 40px;
  border-radius: 12px;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Lora", serif;
  background: #fafafa;
  color: #333333;
}
h1 {
  text-transform: capitalize;
  font-size: 3.7rem;
  margin: 1rem 0 0rem 0;
}
nav {
  background-color: transparent;
  position: absolute;
  border: 0;
  padding-top: 20px;
  z-index: 10;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
nav ul a {
  padding: 0 25px;
  color: #2d3047;
}
nav ul a:hover {
  background: grey;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
nav .brand-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2d3047;
}
.mr-2 {
  margin-right: 10px;
}
.article-container {
  padding-top: 20vh;
}
.name {
  color: #039be5;
}
h4 {
  margin: 1rem 0 1.6rem 0;
}
