
body {
 font-family: 'Lora', serif;
 background: #fafafa;
 color: #333333;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h1{
  font-family: "Lora", serif;
  letter-spacing: 3px;
}

h2{
  font-size: 3.35rem;
  margin: 1.0rem 0 1.7rem 0
}
ul {
  margin: 0;
}
nav {
  background-color: transparent;
  position: absolute;
  border: 0;
  padding-top: 20px;
  z-index: 10;
}

.bg-steel {
  background-color: #2D3047;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
nav ul a{
 padding: 0 25px;
 color: #2D3047;
}
nav ul a:hover{
  background: grey;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
nav .brand-logo{
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2D3047;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.parallax-container{
  height: 100vh;
}
.article-title {
  color: #444444;
}
.jumbotron {
  margin-top: 45vh;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  max-width: 100%;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.mr-2{
  margin-right: 10px;
}
.article-metadata {
  padding-bottom: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.jumbotron h1{
  font-weight: 700;
}
.account-heading {
  font-size: 2.5rem;
}
.content{
  margin-top: 80px;
}
.parallax img {
  max-width: 120%;
}
#brand-title {
  font-family: "Playfair Display";
  font-size: 28px;
  letter-spacing: 1.5px;
}
#parallax-about {
  height: 50vh;
}
#jumbotron-about{
  margin-top: 170px;
}
h3{
    font-size:2.5rem;
    line-height:110%;
    margin:1.0rem 0 1.5rem 0
    }